{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}
{% block body %}
    {{ parent() }}

    <div class="container">
        <h2>All categories</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover col-md-12">
                <tr>
                    <th class="col-md-6">NAME</th>
                    <th class="col-md-6">DESCRIPTION</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td class="col-md-6">{{ category.name }}</td>
                        <td class="col-md-6">{{ category.description }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
